* {
    /* 去除外边距 */
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    /* 去除内边距 */
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
}

a {
    text-decoration: none; /* 去除下划线 */
}

li {
    list-style: none; /* 去除前面的序号 */
}